<!DOCTYPE html>
<html lang="en">
<head>
    <title>Waste Collection Schedule</title>
</head>
<body>
    <header class="text-gray-600 body-font bg-green-200">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img src="https://img.icons8.com/color/96/factory.png" alt="TrashOnline Logo" class="w-10 h-10">
                <span class="ml-3 text-2xl font-semibold">TrashOnline</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 nav-link hover-underline" href="home">Home</a>
                <a class="mr-5 nav-link hover-underline" href="index">Schedule Pickup</a>
                <a class="mr-5 nav-link hover-underline" href="waste">Waste Details</a>
                <a class="mr-5 nav-link hover-underline" href="blogpost">Blogs</a>
                <a class="mr-5 nav-link hover-underline" href="contacts">Contact Us</a>
                
            </nav>
        </div>
    </header>
    <h2>Scheduled Waste Collections</h2>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Time</th>
            <th>Location</th>
            <th>Waste Type</th>
            <th>Collector Type</th>
            <th>Weather</th>
            <th>Weight (kg)</th>
            <th>Notes</th>
        </tr>
        <% schedules.forEach(schedule => { %>
            <tr>
                <td><%= schedule.name %></td>
                <td><%= schedule.contact %></td>
                <td><%= schedule.time %></td>
                <td><%= schedule.location %></td>
                <td><%= schedule.wasteType %></td>
                <td><%= schedule.collectorType %></td>
                <td><%= schedule.weather %></td>
                <td><%= schedule.weight %></td>
                <td><%= schedule.notes %></td>
            </tr>
        <% }) %>
    </table>
    <a href="/">Schedule Another</a>
</body>
</html>
